<color-picker ng-model="$ctrl.color" ng-if="$ctrl.bulb.rgb" on-select="$ctrl.onSelect(color)"></color-picker>
<md-slider flex min="0" max="100" ng-model="$ctrl.bulb.bright" ng-change="$ctrl.setBrightness()" aria-label="Brightness"></md-slider>
<md-button ng-click="$ctrl.power()" class="md-fab">
  <md-icon>power_settings_new</md-icon>
</md-button>
<md-button ng-click="$ctrl.white()" class="md-fab" ng-if="$ctrl.bulb.rgb">
  <md-icon>wb_sunny</md-icon>
</md-button>
<md-slider flex min="1700" max="6500" ng-model="$ctrl.bulb.ct" ng-change="$ctrl.setTemperature()" aria-label="Temperature" ng-if="$ctrl.bulb.ct"></md-slider>
